.block {
    width : 100px;
    height : 100px;
    background-color : blue;
    display: inline-block;
}

.selectedBlock {
    width : 100px;
    height : 100px;
    background-color: navy;
    display: inline-block;
}

.offsetBlock {
    width : 100px;
    height : 100px;
    background-color: teal;
    display: inline-block;
}