
#playground {
    background-color: lightgray;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: block;
}


.box {
    position: relative;
    background-color: orange;
    border: 1px solid black;
}